.output * {
    box-sizing: ;
  }
  
  .output ul {
    padding-left: ;
  }
  
  .output li {
    display: ;
    float: ;
    width: ;
    border: ;
    padding: ;
    height: ;
    background-color: ;
    color: ;
  }
  
  html {
    font-family: ;
  }
  
  h2 {
    font-size: ;
  }
  
  
  body {
    margin: ;
    background: ;
  }
  