.output * {
    box-sizing: 200px;
  }
  
  .output ul {
    padding-left: 20px;
  }
  
  .output li {
    display: block;
    float: left;
    width: 90px;
    border: 10px solid white;
    padding: 10px;
    height: 90px;
    background-color: olive;
    color: yellowgreen;
  }
  
  html {
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 25px;
  }
  
  
  body {
    margin: 5px;
    background: 50px;
  }
  